*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: rgb(77, 60, 156);
}
.heading{
  text-align: center;
  padding-top: 250px;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
/* font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif; */
}